# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
**/.dev_builds/
**/blobs/
**/dev_releases/

pattern-*/bosh-release/deployment/*
!pattern-*/bosh-release/deployment/.gitkeep
**/dist/*
!**/dist/.gitkeep
**/.final_builds/*
**/releases/*

**/tile/product/
**/tile/cache/
!**/tile/product/.gitkeep
**/tile/release/
**/tile/routing-0.178.0.tgz
**/tile/wso2is-5.7.0*
**/tile/tile-history.yml

**/bosh-release/wso2*

pattern-*/bosh-release/config/blobs.yml
